header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 20px;
}

header a{
    text-decoration: none;
}

h1{
    font-size: 40px;
    padding-left: 20px;
}

span{
    font-size: 20px;
    padding: 20px;
}

nav span{
    margin-right: 20px;
}

.icons{
    display: flex;
    justify-content:space-evenly;
    position: absolute;
    top: 0;
    right: 30;
    width: 100%;
    padding: 20px;
}

.icons a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.singleCol{
    max-width: 200px;
    margin: 0 auto;
}

.vid1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position:relative;
    top: 70px;
}

.vid2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position:relative;
    top:30px

}

body.index{
    background-image: 
    url(https://i.pinimg.com/564x/41/43/fb/4143fbc6b723642e2b39bae65140e26e.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

img{
    width: 50%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: top;
}

.content img {
    margin-right: 20px; 
}

.content p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h2 a{
    font-size: 120px;
    font-family: 'Passion One', sans-serif;
    text-decoration: none;
}

h2{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column{
    width: calc(33.33% - 20px);
    padding: 5px;
    text-align: center;
}

.column img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.column p{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -30px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width:786px) {
    .column{
        width: 48%;
    }
}

.tour-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-left: 50px;
    font-family: 'Passion One', sans-serif;
}
 
.tour{
    text-align: left;
    margin: 0;
    font-size: 40px;
}

.tour-date p{
    font-size: 30px;
    margin: 0;
}

.tour section{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}




body.merch{
    background-color:blanchedalmond;
}

